* {
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-family: "Noto Sans KR", sans-serif;
}
@media (min-width: 400px) {
  body {
    padding: 2em;
  }
}
@media (min-width: 900px) {
  body {
    padding: 3em;
  }
}
@media (min-width: 1400px) {
  body {
    padding: 4em;
  }
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5em;
  color: #4a4a4a;
}

h2 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-size: 1.1em;
  color: #4a4a4a;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

a, p {
  color: #979c9f;
  font-size: 0.9em;
}

p {
  text-transform: capitalize;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  text-align: center;
}
.header input {
  padding: 1em;
  height: 3em;
  max-width: 450px;
}
@media (min-width: 900px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

#grid {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-row-gap: 1.5em;
  justify-content: space-between;
}
@media (min-width: 400px) {
  #grid {
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    grid-column-gap: 1em;
  }
}
@media (min-width: 900px) {
  #grid {
    grid-column-gap: 1.5em;
  }
}
@media (min-width: 1400px) {
  #grid {
    grid-column-gap: 2em;
  }
}

.card {
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  transition: 0.25s;
  width: auto;
  text-align: center;
}
.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.card img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin-right: 1em;
}
.card a, .card p {
  margin: 0.25em 0;
}
@media (min-width: 500px) {
  .card {
    flex-direction: row;
    text-align: left;
  }
}

#modal-background {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: none;
}
#modal-background #modal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  height: 60vh;
  width: 30vw;
  background-color: white;
  border-radius: 10px;
  padding: 1.5em;
}
#modal-background #modal #close {
  position: absolute;
  top: 0;
  left: 92%;
}
#modal-background #modal #close img {
  font-size: 1em;
}
#modal-background #modal #previousPerson {
  position: absolute;
  top: 45%;
  left: 2%;
}
#modal-background #modal #nextPerson {
  position: absolute;
  top: 45%;
  left: 96%;
}
#modal-background #modal div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modal-background #modal div hr {
  width: 100%;
  border: none;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-style: inset;
  margin-bottom: 0.5em-;
  margin-top: 0.5em;
}
#modal-background #modal img {
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
#modal-background #modal h2 {
  text-align: center;
}
#modal-background #modal p {
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
